$fontsize: 16px;
$textColorSecond: #506a85; 
$textColorMain: #73879c;
$textColorFooter: #a3b1bf;
$lightBg: #f2f5f7;
$darkBg: #2f4052;
$darkenBg: #283645;
$fbBg: #4668b3;
$gplusBg: #de5745;
$twitterBg: #2fbbed;
$pinterestBg: #d94348;
$behanceBg: #3079ff;
$dribbleBg: #eb6397;
$green: #00bc9c;
$white: #ffffff;

// Path's ----------
$pathFont: "../../fonts";