.bannerSlider-container {
    width: 100%;
    height: 76vh;
    position: relative;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: rem(200) 0;
    background: $darkBg;
    background-image: url("#{$pathImg}/banner.jpg");
    background-size: cover;
}

.swiper-pagination {
    height: 5px;
    color: $darkBg;
}

.slide__content {
    @include size(10);
    @include size-sm(11);
    @include size-md(11);
    @include row-flex();
    justify-content: center;
    align-items: center;
}

.bannerSlider__title {
    display: inline-block;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: rem(72);
    font-weight: 700;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    @include to(576px) {
        font-size: rem(28);
    }
    @include to(768px) {
        font-size: rem(42);
    }
    @include to(992px) {
        font-size: rem(52);
    }
}

.bannerSlider__text {
    display: inline-block;
    margin-bottom: rem(50);
    font-size: rem(24);
    font-weight: 400;
    color: $textColorFooter;
    text-align: center;
    @include to(576px) {
        font-size: rem(16);
    }
    @include to(768px) {
        font-size: rem(18);
    }
    @include to(992px) {
        font-size: rem(20);
    }
}

.swiper-button-next,
.swiper-button-prev {
    width: rem(40);
    height: rem(70);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $white;
    background-color: rgba($color: $lightBg, $alpha: 0.1);
    transition: .3s all;
    z-index: 1;
    cursor: pointer;
    @include to(576px) {
        width: rem(20);
        height: rem(50);
    }

    &:hover > .button-next,
    &:focus > .button-next,
    &:hover > .button-prev,
    &:focus > .button-prev {
        color: $green;
    }

    &:hover,
    &:focus {
        background-color: rgba($color: $lightBg, $alpha: 0.2);
    }
}

.swiper-button-next {
    right: 0;
    border-radius: rem(10) 0 0 rem(10);
}

.swiper-button-prev {
    left: 0;
    border-radius: 0 rem(10) rem(10) 0;
}

.button-next {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: rotate(90deg) translateX(-50%);
    transition: .3s all;
}

.button-prev {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: rotate(-90deg) translateX(50%);
    transition: .3s all;
}

.slider__svg {
    width: rem(30);
    height: rem(30);
    @include to(576px) {
        width: rem(15);
        height: rem(15);
    }
}