.advantages {
    margin: rem(100) 0;

    @include to(768px) {
        margin: rem(70) 0;
    }

    &__row {
        @include col();

        &:first-child {
            margin-bottom: rem(60);
        }
    }

    &__list {
        @include row-flex();
        @include to(992px) {
            justify-content: center;
        }
    }

    &__item {
        @include col();
        @include size(4);
        @include size-lg(6);
        @include size-sm(12);
        display: flex;
        justify-content: space-between;

        @include to(768px) {
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
        }
    }

    &__item-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__svg {
        @include col();
        @include size(5);
        width: rem(60);
        height: rem(60);
        color: $green;
        
        svg {
            width: rem(60);
            height: rem(60);
        }
    }

    .item-content__title {
        font-family: "Lato", Arial, Helvetica, sans-serif;
        font-size: rem(26);
        font-weight: 700;
        letter-spacing: 0.52px;
        color: $textColorSecond;
        @include to (576px) {
            font-size: rem(24);
        }
    }

    .item-content__text {
        font-size: rem(16);
        font-weight: 400;
        line-height: rem(25);
        color: $textColorMain;
        letter-spacing: 0.16px;
    }
}