.works {
    padding: rem(100) 0;
    background-color: $lightBg;

    @include to(768px) {
        padding: rem(70) 0;
    }

    &__row {
        @include col();

        &:not(:last-child) {
            margin-bottom: rem(60);
        }
    }

    &__list {
        @include row-flex();
        @include to(992px) {
            justify-content: center;
        }
    }

    &__item {
        @include col();
        @include size(6);
        @include size-md(12);
        display: flex;
        justify-content: center;
        background-color: $white;

        @include to(768px) {
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
        }
    }

    &__item-link {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        transition: .3s all;

        &:hover {
            background-color: $green;
        }
    }

    &__item-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: rem(20) 0;
        text-align: center;
        color: $textColorSecond;

        .item-content__title {
            font-family: "Lato", Arial, Helvetica, sans-serif;
            font-size: rem(20);
            line-height: rem(26);
            font-weight: 700;
            @include to (576px) {
                font-size: rem(18);
            }
        }

        .item-content__text {
            margin: 0;
            margin-top: rem(10);
            font-family: "SourceSans", Arial, Helvetica, sans-serif;
            font-size: rem(14);
            line-height: rem(22);
            color: $textColorMain;
        }
    }
}

.worksSlider-container {
    width: 100%;
    height: 100%;
    position: relative;
    @include to (768px) {
        display: none;
        visibility: hidden;
    }

    .swiper-pagination {
        width: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: -20%;
        left: 50%;
        margin: 0 auto;
        transform: translateX(-50%);
    }

    .swiper-pagination-bullet {
        width: rem(10);
        height: rem(10);
        display: block;
        background-color: $textColorSecond;
        border-radius: 50%;

        &:hover,
        &:focus {
            background-color: $green;
        }
    }

    .swiper-pagination-bullet-active {
        background-color: $green;
    }
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

.works-slide {
    background: $white;
    overflow: hidden;

    &:hover > .workSlide__content .workSlide__item-content {
        display: flex;
    }
}

.workSlide__content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.workSlide__item-content {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: $white;
    background-color: rgba($color: $green, $alpha: 0.8);
}

.works-button-next,
.works-button-prev {
    width: rem(30);
    height: rem(30);
    position: absolute;
    bottom: -35%;
    @include to (992px) {
        bottom: -45%;
    }
    transform: translateY(-50%);
    color: $white;
    background-color: #c9d2da;
    border-radius: rem(5);
    transition: .3s all;
    z-index: 1;
    cursor: pointer;
    @include to(576px) {
        width: rem(20);
        height: rem(50);
    }

    &:hover > .button-next,
    &:focus > .button-next,
    &:hover > .button-prev,
    &:focus > .button-prev {
        color: $green;
    }

    &:hover,
    &:focus {
        background-color: rgba($color: $textColorSecond, $alpha: 1.0);
    }
}

.works__svg {
    width: rem(15);
    height: rem(15);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include to(576px) {
        width: rem(15);
        height: rem(15);
    }
}

.works-button-next {
    position: absolute;
    right: 40%;
    transition: .3s all;
}

.works-button-prev {
    position: absolute;
    left: 40%;
    transform: rotate(-90deg) translateX(50%);
    transition: .3s all;
}

.works__svg--prev {
    // transform: rotate(-90deg);
}

.works__svg--next {
    top: 50%;
    transform: rotate(90deg) translate(-50%, 50%);
}