h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

.container {
    @include container();
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
    @include xl(max-width, rem(1110));
}

* {
    box-sizing: border-box;
}
    
body {
	min-width: 320px;
	position: relative;
	margin: 0 auto;
	padding: 0;
	font-family: "SourceSans", Arial, Helvetica, sans-serif;
	font-size: $fontsize;
    line-height: 1;
	color: $textColorSecond;
	background-color: $white;
	overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    list-style: none;
} 

a:hover {
	text-decoration: none;
}

li {
    list-style: none;
} 

img {
    max-width: 100%;
    height: auto;
    display: block;
}
	
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title {
    margin: 0 auto rem(30);
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: rem(44);
    font-weight: 700;
    letter-spacing: 0.44px;
    color: $textColorSecond;
    text-align: center;

    @include size(8); 
   
    @include to(992px) {
        @include size(10);
        font-size: rem(40);
    }
    @include to(768px) {
        @include size(12);
        font-size: rem(34);
    }
    @include to(576px) {
        font-size: rem(28);
    }
}

.text {
    margin: 0 auto;
    font-family: "SourceSans", Arial, Helvetica, sans-serif;
    font-size: rem(22);
    line-height: rem(34);
    font-weight: 400;
    letter-spacing: 0.22px;
    color: $textColorMain;
    text-align: center;

    @include size(9);
    
    @include to(992px) {
        @include size(10);
        font-size: rem(20);
    }
    @include to(768px) {
        @include size(12);
        font-size: rem(18);
    }
    @include to(576px) {
        font-size: rem(16);
        line-height: rem(28);
    }
}