h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

.container {
    @include container();
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
    @include xl(max-width, rem(1110));
}

* {
    box-sizing: border-box;
}
    
body {
	min-width: 320px;
	position: relative;
	margin: 0 auto;
	padding: 0;
	font-family: "SourceSans", Arial, Helvetica, sans-serif;
	font-size: $fontsize;
    line-height: 1;
	color: $textColorSecond;
	background-color: $white;
	overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    list-style: none;
} 

a:hover {
	text-decoration: none;
}

li {
    list-style: none;
} 

img {
    max-width: 100%;
    height: auto;
    display: block;
}
	
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}